<a href="https://colab.research.google.com/github/Reinaldos/-Reinaldos-livro_Intro-a-programacao-com-PYTHON/blob/main/alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Relatório de análises II**

###**TIPOS IMÓVEIS**

In [3]:
import pandas as pd

In [4]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
dataframe = pd.read_csv('/content/drive/My Drive/pandas_alura/aluguel.csv', sep = ';')
dataframe

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [6]:
dataframe.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

In [7]:
dataframe['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [8]:
tipo_de_imovel = dataframe['Tipo']

In [9]:
type(tipo_de_imovel)

pandas.core.series.Series

In [10]:
tipo_de_imovel.drop_duplicates(inplace=True)

In [11]:
tipo_de_imovel.head(15)

0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
Name: Tipo, dtype: object

#**ORGANIZANDO A VISULIZAÇÃO**

1°- COLOCANDO SÓ ESSE DADO EM UM DATAFRAME

In [12]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [13]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

AGORA VAMOS ARRUMAR ESSE ÍNDICE

In [14]:
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

queremos um índice numerado e em ordem

primeiro usamos o método shape[0] para visualisar quantos indices temos em nossa tabela

In [15]:
tipo_de_imovel.shape[0]

22

para sabermos de onde começa e até onde vai a nossa tabela podemos usar também o método range

In [16]:
range(tipo_de_imovel.shape[0])

range(0, 22)

também podemos usar o método len()

In [18]:
len(tipo_de_imovel)

22

então criamos um for para fazer a contagem dos itens (indices de nossa tabela)

In [19]:
for i in range(tipo_de_imovel.shape[0]):
  print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

fazemos a atribuição do range para o nosso index, tornado assim a visualisação do indice de 0 à 22

In [20]:
tipo_de_imovel.index =  range(tipo_de_imovel.shape[0])

agora podemos ver onde o nosso indíce comeca e acaba, assim como de quantos em quantos itens ele itera

In [21]:
tipo_de_imovel.index

RangeIndex(start=0, stop=22, step=1)

por fim podemos colocar a nossa váriavel a mostra

In [22]:
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

agora vamos renomear o nosso índice

In [23]:
tipo_de_imovel.columns.name = 'id'

In [24]:
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

##exemplo didático

método do dataframe drop_duplicates()

In [25]:

dropdp = pd.DataFrame([1, 1, 2, 3, 3, 3, 4, 4], columns = ['X'])

In [26]:
dropdp

   X
0  1
1  1
2  2
3  3
4  3
5  3
6  4
7  4

In [27]:
dropdp.drop_duplicates(inplace=True)

In [28]:
dropdp

   X
0  1
2  2
3  3
6  4